# Required
TARGET_WALLET=0xba264376d6fef08f23a44db4153d12d47f5f23c9
WALLET_PRIVATE_KEY=0xdeb4f3cf238b40aa3ef84a9c629e907574b0fbbb073aa45a56720892723637be
RPC_URL=wss://polygon.drpc.org

# Optional geo token (if provided by Polymarket for your account/region)
POLYMARKET_GEO_TOKEN=

# Auth: 0=EOA, 1=Poly Proxy, 2=Poly Polymorphic; set PROXY_WALLET_ADDRESS for 1/2
SIG_TYPE=1
PROXY_WALLET_ADDRESS=0x1BBE332d62dF7F9D7eA14CFDA591776359b17951

# Trading
#跟單比例（10%）來源 100 USDC → 你下 10 USDC
POSITION_MULTIPLIER=0.1
#單筆最大下單上限 就算來源很大，你最多只會下 100 USDC
MAX_TRADE_SIZE=100
#小於 1 USDC 的交易直接不跟單 用來過濾垃圾單
MIN_TRADE_SIZE=1
#滑價容忍度（2%）來源單如果滑價超過 2%，你就不跟單了，來源價格 0.98 → 你最多接受到 0.9996
SLIPPAGE_TOLERANCE=0.02
#Fill-Or-Kill LIMIT=GTC, FOK=fill-or-kill, FAK=fill-and-kill
ORDER_TYPE=FOK

# Risk (0 disables the cap)
#單次 session 最大總金額 就算你跟了很多單，當 session 總下單金額超過 100 USDC，你就不跟了
MAX_SESSION_NOTIONAL=0
#單一 market 最大投入金額 就算你跟了很多單，當單一 market 總下單金額超過 100 USDC，你就不跟了
MAX_PER_MARKET_NOTIONAL=0

# Monitoring
#用 WS 即時監控
USE_WEBSOCKET=true
#是否監控「特定地址的 WS channel」 如果你只想跟蹤特定交易者，開啟這個選項並在 WS_MARKET_IDS 填入他們的地址，否則建議關閉以獲取更全面的市場數據
USE_USER_CHANNEL=false
#REST fallback 輪詢頻率（2 秒）
POLL_INTERVAL=2000
WS_ASSET_IDS=
WS_MARKET_IDS=

# Optional gas floor overrides for Polygon approval/order txs
#Gas（Polygon）優先費用下限（30 Gwei）即使 Polygon 網路擁堵，你也願意支付的最低優先費用
#最低 priority fee（30 Gwei）即使 Polygon 網路擁堵，你也願意支付的最低優先費用
MIN_PRIORITY_FEE_GWEI=30
#最低 max fee（60 Gwei）即使 Polygon 網路擁堵，你也願意支付的最低 max fee
MIN_MAX_FEE_GWEI=60
